{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-4 color_text_red">
    <h1>{{title}}</h1>
  </div>
  <div class="col-4">
    {% now "Y/m/d H:i:s" as date_now %}
      <h3>Server time: <span id="live_clock">{{date_now}}</span></h3>
  </div>
  <div class="col-4">
    <a class="btn btn-primary" href="{% url 'company-create' %}">Create</a>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
    <tbody>
      {% for company in company_list %}
      <tr>
        <td scope="row"><a href="/company/{{company.id}}">{{company.name}}</a></td>
      </tr>
      {% endfor %}
    <tbody>
</table>
{% endblock content%}
